<article class="h-entry pt-post{{ if not .Title }} no-title{{ end }}">
	<div class="post-meta-left">
		{{ if .Title }}
			<h1 class="post-title p-name" itemprop="name">{{ .Title }}</h1>
		{{ end }}
		<time class="dt-published post-date" datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "Jan 2, 2006" }}</time>
	</div>
	<div class="post-content">
		<section class="e-content">
			{{ .Content }}
		</section>
		{{ if .Params.categories }}
			<div class="post-categories-footer">
				<p class="categories-label">Read more on:</p>
				<ul class="categories-list">
					{{ range .Params.categories }}
						<li><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
		{{ end }}
		<div class="email-reply">
			{{ if templates.Exists "partials/reply-by-email.html" }}
				<p>{{ partial "reply-by-email.html" . }}</p>
			{{ end }}
		</div>
		<div class="conversation-reply">
			{{ if templates.Exists "partials/conversation-link.html" }}
				<p>{{ partial "conversation-link.html" . }}</p>
			{{ end }}
		</div>
		{{ if .Site.Params.include_conversation }}
			<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
		{{ end }}
	</div>
</article>