<article class="h-entry pt-post">
	<div class="post-meta-left">
		{{ if .Title }}
			<a href="{{ .RelPermalink }}" class="u-url">
				<h2 class="post-title p-name">{{ .Title }}</h2>
			</a>
		{{ end }}
		<a href="{{ .RelPermalink }}" class="u-url">
			<time class="dt-published post-date" datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "Jan 2, 2006" }}</time>
		</a>
	</div>
	<div class="post-content">
		<section class="content post e-content">
			{{ .Content }}
		</section>
	</div>
</article>
<hr>