{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="archive-page">
		<div class="archive_categories">
			{{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
				<a href="{{ "/categories/" | relURL }}{{ $name | urlize }}">{{ $name }}</a>
			{{ end }}
		</div>
		{{ $posts := where .Site.Pages "Type" "post" }}
		{{ $titled := where $posts ".Title" "!=" "" }}
		{{ range $titled.GroupByDate "2006" }}
		<div class="archive-year">
			<h2 class="archive-year-header">{{ .Key }}</h2>
			{{ range .Pages.GroupByDate "January" }}
			<div class="archive-month">
				<h3 class="archive-month-header">{{ .Key }}</h3>
				<ul class="archive-month-list">
					{{ range .Pages }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</div>
		{{ end }}
	</div>
	{{ partial "footer.html" . }}
	{{ partial "custom_footer.html" . }}
	{{ range .Site.Params.plugins_js }}
		<script src="{{ . }}"></script>
	{{ end }}
</body>
</html>
